$color_1: white;
$color_2: #0366d6;
$color_3: #e01a76;
$color_4: #8D5CF6;
$font-family_1: 'Inder', Montserrat, sans-serif;
$background-color_1: #8D5CF6;
$background-color_2: #8252e8;
$background-color_3: #6937d3;
$background-color_4: #26335D;

/* You can add global styles to this file, and also import other style files */
/*@import 'material-icons/iconfont/material-icons.css';*/
/* Provide sufficient contrast against white background */
* {
  font-family: $font-family_1;
  color: $color_1;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

:root {
  --mdc-tab-indicator-active-indicator-color: white;
}

html {
  font-size: 14px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

app-graphics {
  position: absolute;
}

a {
  color: $color_2;
}

code {
  color: $color_3;
}

.btn-primary {
  background-color: $background-color_1;
  padding: 16px 46px;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0px 4px 4px #00000025;
  border: none;
  width: fit-content;

  &:hover {
    background-color: $background-color_2;
  }

  &:active {
    background-color: $background-color_3 !important;
  }
}

.btn-link {
  color: $color_4;
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  text-decoration: none;
}

.std-container-px {
  padding-right: 14%;
  padding-left: 14%;
}

.dark-bg {
  background-color: $background-color_4;
}

.separator {
  border-top: 7px solid #FF7B52;
  width: 94px;
}

.std-gap {
  gap: 1.1875rem;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
