<div class="project-content d-flex">
  <div class="project-text d-flex flex-column">
    <h1 class="project-title">{{title}}</h1>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mr-4">dashboard</mat-icon>
            Overview
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          {{overview}}
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mr-4">assignment</mat-icon>
            Responsabilities
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="project-list">
          <li *ngFor="let responsibility of responsibilities">
            <b>{{responsibility.title}}:</b> {{responsibility.content}}
          </li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mr-4">emoji_events</mat-icon>
            Achievements
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="project-list">
          <li *ngFor="let achievement of achievements" class="project-list-item">{{achievement}}</li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="project-galery d-flex flex-column">
    <div class="d-flex">
      <button *ngFor="let img of sideImgs" class="position-relative" (click)="use(img)">
        <img class="img-animation" [ngSrc]="img" fill priority placeholder />
      </button>
    </div>
    <div class="position-relative">
      <div *ngFor="let img of sideImgs" [ngClass]="{'d-none': img != mainImg}">
        <img class='img-animation' [ngSrc]="img" fill priority placeholder/>
      </div>
    </div>
  </div>
</div>
