$color_1: white;

.project-content {
  height: 100%;
  padding: 2rem;
  border-radius: 0.75rem;
  gap: 3rem;
  overflow: hidden;
  text-align: justify;
}

.project-title {
  text-align: center;
  font-size: 1.75rem;
}

mat-accordion {
  overflow: auto;
}

mat-icon {
  margin-right: 1rem;
}

.mat-expansion-panel {
  background: #ffffff14 !important;
  box-shadow: none !important;
}

.mat-expansion-panel-header-title {
  color: $color_1;
  font-size: 1rem;
}

.project-list-item {
  color: $color_1;
  font-size: 1rem;
  font-style: italic;
}

.img-animation {
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  filter: drop-shadow(2px 4px 6px #0006) opacity(0.75);

  &:hover {
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

.project-galery {
  gap: 2rem;

  > div {

    &:nth-child(2) {
      height: 80%;

       img {
        filter: opacity(0.95);
        object-fit: contain;

        &:hover {
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
    }

    &:nth-child(1) {
      gap: 2rem;
      height: 20%;
      min-width: 460px;
      justify-content: center;

      > button {
        background: transparent;
        border: none;
        width: 33%;

        > img {
          -o-object-fit: cover;
          object-fit: cover;
        }
      }
    }
  }
}

::ng-deep {
  .mat-expansion-panel-body {
    padding: 8px 24px 0px !important;
  }

  .mat-expansion-indicator::after {
    color: $color_1;
  }

  mat-accordion mat-expansion-panel {
    mat-expansion-panel-header {
      height: 40px; // height may be different for you
    }

    .mat-expansion-panel-content {
      height: 0;
    }

    &.mat-expanded {
      mat-expansion-panel-header {
        height: 64px; // height may be different for you
      }

      .mat-expansion-panel-content {
        height: auto;
      }
    }
  }
}

@media only screen and (max-width : 1400px) {
  .project-galery {
    display: none !important;
  }
}

@media only screen and (max-height: 625px) {
  .project-galery {
    display: none !important;
  }
}
