$color_1: #B9F5FF;
$color_2: #259fb4;
$color_3: black;
$color_4: white;
$font-family_1: 'Inder', Montserrat, sans-serif;
$background-color_1: #A7C8D580;
$background-color_2: #29da52;

[disabled=true] {
  filter: grayscale(1);
}

mat-error {
  position: relative;
  top: -4px;
}

.contact-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 90%;
  font-family: $font-family_1;
  background-image: radial-gradient( ellipse 600px 1100px at 150px 50px, #2eb7b317 0%, #1d6b9587 100% );
  box-shadow: 2px 2px 8px -4px black;
  border-radius: 20px;
}

.pfp-img {
  width: 100% !important;
  height: auto !important;
  max-width: 171px;
  filter: drop-shadow(2px 2px 2px black) opacity(1);
  background: #ffffff30;
  border: 6px solid #7ae8ff2e;

  :after {
    background: linear-gradient(#e66465, #9198e5);
  }
}

.info-container {
  filter: drop-shadow(0px 2px 3px #00000060);
  max-width: 270px;
  text-align: justify;

  > span {
    font-size: 0.75rem;
    font-family: $font-family_1;
  }
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 0px;
  font-family: $font-family_1;
}

h3 {
  font-size: 1rem;
  color: $color_1;
  margin-bottom: 0px;
  font-family: $font-family_1;
}

.top-container {
  padding: 2.5rem 2rem;
  gap: 2rem;
  justify-content: center;
}

.bottom-container {
  width: 100%;
  height: 100%;
  background-color: $background-color_1;
  padding: 2rem;
  box-shadow: inset 0px 4px 10px -8px #000000F0;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  gap: 2rem;

  > h1 {
    filter: drop-shadow(0px 2px 3px #00000060);
  }
}

form {
  height: 100%;
  width: 100%;
  padding: 0 40px;

  > button {
    display: flex;
    gap: 12px;
    border-radius: 20px;
    border: 0;
    width: fit-content;
    padding: 8px 8%;
    color: $color_4;
    background-color: $background-color_2;
    -moz-box-shadow: 0 4px 2px #00000020;
    -webkit-box-shadow: 0 4px 2px #00000020;
    box-shadow: 0 4px 2px #00000020;
    font-family: $font-family_1;

    > mat-icon {
      color: $color_4;
    }
  }
}

mat-form-field {
  width: 100%;
}

mat-label {
  color: $color_2;
  font-size: 0.875rem;
}

input {
  font-family: $font-family_1;
  font-size: 1rem;
  color: $color_3;
  width: 100%;
}

.subject {
  height: -webkit-fill-available;
}

.home-container {
  right: 1.5rem;
  top: 50%;
  transform: translate(0, -50%);
}

.nav-container {
  > button {
    height: fit-content;
    padding: 6px 12px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 4px #000000ff);
    font-size: 1rem;

    > span {
      font-size: 22px;
    }
  }
}

::ng-deep {
  .mat-mdc-form-field-flex, .mat-mdc-form-field-infix, .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
    height: 100% !important;
  }
}

@media only screen and (max-width : 1410px) {
  .contact-container {
    width: 60%;
    height: 90%;
  }
}

@media only screen and (max-width : 1127px) {
  .contact-container {
    width: 70%;
    height: 90%;
  }
/*
  .top-container {
    padding: 10px 30px !important;
    gap: 16px;
  }*/
}

@media only screen and (max-width : 667px) {
  .contact-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0;
  }

  .top-container {
    > img {
        display: none;
    }

    > .info-container {

        max-width: none;
    }
  }

  .home-container {
    display: none !important;
  }

  .bottom-container {
    > form {
      padding: 0;
    }
  }
}
