<div class="contact-container d-flex flex-column">
  <div class="d-flex top-container flex-wrap">
    <img [src]="about.picture" class="pfp-img" />
    <div class="info-container">
      <h1>{{about.name}}</h1>
      <h3>{{about.role}}</h3>
      <span>{{about.bio}}</span>
    </div>
  </div>
  <div class="d-flex flex-column justify-content-between align-items-center bottom-container">
    <h1>{{about.cta}}</h1>
    <form class="d-flex flex-column justify-content-between align-items-center">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input class="name" type="text" placeholder="Name" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input class="tel" type="tel" placeholder="Phone" matInput />
      </mat-form-field>
      <mat-form-field class="subject">
        <mat-label>Subject</mat-label>
        <textarea matInput placeholder="What do you wanna discuss..."></textarea>
      </mat-form-field>
      <button mat-button>
        Send
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
</div>
<div class="position-absolute home-container nav-container">
  <button [routerLink]="['/']" class="d-flex flex-column-reverse align-items-center" mat-button>
    <mat-icon>arrow_forward</mat-icon>
    <span>Home</span>
  </button>
</div>
