<div class="contact-container d-flex flex-column">
  <div class="d-flex top-container flex-wrap">
    <img [src]="about.picture" class="pfp-img" />
    <div class="info-container">
      <h1>{{about.name}}</h1>
      <h3>{{about.role}}</h3>
      <span>{{about.bio}}</span>
    </div>
  </div>
  <div class="d-flex flex-column justify-content-between align-items-center bottom-container">
    <h1>{{about.cta}}</h1>
    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()" class="d-flex flex-column justify-content-between align-items-center">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="name" class="name" type="text" placeholder="Name" matInput />
        <mat-error *ngIf="emailForm.controls.name.errors">Please enter your full name</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" class="tel" type="email" placeholder="Email" matInput />
        <mat-error *ngIf="emailForm.controls.email.errors">Please enter a valid email</mat-error>
      </mat-form-field>
      <mat-form-field class="subject">
        <mat-label>Subject</mat-label>
        <textarea formControlName="message" matInput placeholder="What do you wanna discuss..."></textarea>
        <mat-error *ngIf="emailForm.controls.message.errors">Please enter a message</mat-error>
      </mat-form-field>
      <button type="submit" [disabled]="!emailForm.valid" mat-button>
        Send
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
</div>
<div class="position-absolute home-container nav-container">
  <button [routerLink]="['/']" class="d-flex flex-column-reverse align-items-center" mat-button>
    <mat-icon>arrow_forward</mat-icon>
    <span>Home</span>
  </button>
</div>
