<div class="position-absolute home-container nav-container">
  <button [routerLink]="['/']" class="d-flex flex-column align-items-center" mat-button>
    <mat-icon>arrow_backward</mat-icon>
    <span>Home</span>
  </button>
</div>
<mat-tab-group #tabGroup mat-stretch-tabs="true" mat-align-tabs="start" class="content-container" [selectedIndex]="selected" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
  <mat-tab *ngFor="let category of categories" [label]="category.name">
    <div class="content-bg"></div>
    <div class="technologies-container">
      <span *ngFor="let technology of category.technologies" (click)="openTechPage(technology)">
        <img [src]="technology.img" width="128"/>
        {{technology.name}}
      </span>
    </div>
  </mat-tab>
</mat-tab-group>
