$color_1: white;
$background-color_1: #A7C8D580;

.content-container {
  position: fixed;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-image: radial-gradient( ellipse 840px 840px at 140px 45px, #47a6ab38 0%, #2a5b71a6 100% );
  box-shadow: 4px 4px 4px 0px #0006;
}

.technologies-container {
  padding: 2rem;
  gap: 1rem;

  > div {
    padding: 1rem 0.5rem;
    width: 10rem;
    text-shadow: 0px 2px 4px #00000080;
    cursor: pointer;
    height: auto;
  }
}

.content-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $background-color_1;
  box-shadow: inset 0px 4px 8px -4px #00000080;
  z-index: -1;
  border-radius: 10px;
}

.home-container {
  top: 50%;
  left: 1.5rem;
  transform: translate(0, -50%);
}

.nav-container {
  > button {
    height: fit-content;
    padding: 6px 12px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 4px #00000060);
    font-size: 1rem;
  }
}

::ng-deep {
  .mat-mdc-tab-body.mat-mdc-tab-body-active {
    height: 100%;
  }

  .mat-mdc-tab-body-wrapper {
    height: 100%;
  }

  .mat-mdc-tab-labels {
    padding: 1% 2% !important;
  }

  .mdc-tab__text-label {
    color: $color_1 !important;
  }
}

@media only screen and (max-width : 1280px) {
  .content-container {
    width: 60%;
    height: 75%;
  }
}


@media only screen and (max-width : 667px) {
  .home-container {
    display: none !important;
  }

  ::ng-deep {
    * {
      font-size: 1rem;
    }

    .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs > .mat-mdc-tab-header .mat-mdc-tab {
      padding: 0 1rem;
    }
  }

  .technologies-container {
    gap: 0;

    > div {
      width: 33%;
      text-align: center;
    }
  }

  .content-container {
    width: 100%;
    height: 90%;
    top: 10%;
    left: 0;
    transform: translate(0);
  }
}
